body {
  background-color: white;
  color: black;
}

header {
  background: linear-gradient(
      rgba(108, 117, 125, 0.55),
      rgba(108, 117, 125, 0.55)
    ),
    url("images/header.jpg") no-repeat center center;
  background-size: cover;
  color: lightyellow;
  padding: 55px 0;
}

header h1 {
  font-size: 2.5rem;
}

header .lead {
  font-size: 1.25rem;
}

.container {
  max-width: 960px;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.highlight {
  font-weight: bold;
  color: rgb(5, 99, 193);
}

.highlight-warn {
  font-weight: bold;
  color: darkred;
}

.tooltip-text {
  visibility: hidden;
  background-color: gray;
  font-size: 14px;
  font-weight: 400;
  color: lightyellow;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  margin-top: 7px;
  margin-left: 8px;
}
#colab-btn:hover + .tooltip-text {
  visibility: visible;
  opacity: 1;
}

#map-tooltip {
  position: fixed;
  background-color: whitesmoke;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  pointer-events: none;
  z-index: 100;
  visibility: hidden;
}

#map-legend {
  position: absolute;
  bottom: 25px;
  right: 5px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 10;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
